<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Search</title>
		<!-- Bootstrap core CSS -->
		<link href="/src/css/init/bootstrap.min.css" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="/src/css/init/signin.css" rel="stylesheet">
	</head>

	<body class="text-center">
		<form class="form-signin" action="/index/" method="post">
            {%csrf_token%}
			<img class="mb-4" src="/src/image/init/bootstrap-solid.svg" alt="" width="72" height="72">
			<h1 class="h3 mb-3 font-weight-normal">Please enter the author's name</h1>
            <br />
			<label class="sr-only">Username</label>
			<input name="author" type="text" class="form-control" placeholder="Name" required="" autofocus="" style="width: 800px; left: -250px">
            <br />
            <div class="mb-3">
				<label style="padding-right: 50px">
                    <input type="checkbox" value="1" name="partial_match"> partial match
                </label>
                <a href="/showlist/">scholar list</a>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
			<p class="mt-5 mb-3 text-muted">© 2021-2022</p>
			<!--a class="btn btn-sm">中文</a>
			<a class="btn btn-sm">English</a-->
		</form>

	</body>

</html>