<!DOCTYPE HTML>
<html>
<head>
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/src/image/favicon.ico" type="image/x-icon"/>

    <link rel='stylesheet' type='text/css' href="/src/css/bootstrap.css">
    <link rel='stylesheet' type='text/css' href="/src/css/style.css">
    <link rel='stylesheet' type='text/css' href="/src/css/d3tip.css">
    <link rel="stylesheet" type='text/css' href="/src/css/layui.css">

    <script src="/src/js/jquery.min.js"></script>
    <script src="/src/js/bootstrap.js"></script>
    <script src="/src/js/d3.min.js"></script>
    <script src="/src/js/d3-tip.js"></script>
    <script src="/src/js/layui.js" charset="utf-8"></script>
</head>
<body>
    <div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
        <div class="top-header" style="background-image: linear-gradient(#183D4E, #f7f7f7);">
            <div class="navigation" style="display:flex; align-items: center; justify-content:center;">
                <div class="logo">
                    <h1 style="color: #FFFFFF;"><span style="color: #FFFFFF">V</span>isualization</h1>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="navigation" style="background-color: white">
                <form id="update_info">
                    {% csrf_token %}
                    <ul class="address" style="padding-top: 0px;">
                        <li>
                            <ul class="address-text">
                                <li style="width: 21%; float: left; height: 15px;"></li>
                                <li style="width: 20%; color: #777; float: left; height: 15px;">mode</li>
                                <li style="width: 20%; color: #777; float: left; height: 15px;">isKeyPaper</li>
                                <li style="width: 20%; color: #777; float: left; height: 15px;">extends_prob</li>
                                <li style="width: 19%; float: right; height: 15px;"></li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li style="width: 20%; float: left;"></li>
                                <li style="width: 20%; float: left; color: #777; margin-top: 0.5%; margin-bottom: 0.5%;">
                                    <!--label style="color: #333; padding-right: 85px"><input type="radio" name="mode" value="1" checked="checked">Full</label>
                                    <label style="color: #333"><input type="radio" name="mode" value="0">Partial</label-->
                                    <select id="mode" class="form-select" name="mode" style="display: inline-block; color:#333; width: 60%;">
                                        <option value="1">Full</option>
                                        <option value="0">Partial</option>
                                    </select>
                                </li>
                                <li style="width: 20%; float: left; color: #777;">
                                    <input style="display: inline-block; width: 60%;" id="range_node" type="range" name="isKeyPaper" value="0" min="0" max="1" step="0.1">
                                    <span id="node_value" style="display: inline-block; color: #333;">>=0</span>
                                    <script type='text/javascript'>
                                        var range = document.getElementById('range_node');
                                        range.onchange = function() {
                                            var value = document.getElementById('range_node').value;
                                            document.getElementById('node_value').innerHTML = ">=" + value;
                                        }
                                    </script>
                                </li>
                                <li style="width: 20%; float: left; color: #777;">
                                    <input style="display: inline-block; width: 60%;" id="range_edge" type="range" name="extends_prob" value="0" min="0" max="1" step="0.1">
                                    <span id="edge_value" style="display: inline-block; color: #333;">>=0</span>
                                    <script type='text/javascript'>
                                        var range = document.getElementById('range_edge');
                                        range.onchange = function() {
                                            var value = document.getElementById('range_edge').value;
                                            document.getElementById('edge_value').innerHTML = ">=" + value;
                                        }
                                    </script>
                                </li>
                                <li style="width: 20%; float: right;"></li>
                            </ul>
                        </li>
                    </ul>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="banner-info">
                <div class="col-md-2 header-right" style="padding-left: 10px; padding-right: 0px; padding-top: 1px;">
                    <h1 id="isFellow"></h1>
                    <ul class="address">
                        <li>
                            <ul class="address-text">
                                <li style="width: 45%"><b style="color: #777">authorRank</b></li>
                                <li style="color: #333">{{ authorRank }}</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li style="width: 45%"><b style="color: #777">name</b></li>
                                <li style="color: #333">{{ name }}</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li style="width: 45%"><b style="color: #777">paperCount</b></li>
                                <li style="color: #333">{{ paperCount }}</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li style="width: 45%"><b style="color: #777">citationCount</b></li>
                                <li style="color: #333">{{ citationCount }}</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li style="width: 45%"><b style="color: #777">h-index</b></li>
                                <li style="color: #333">{{ hIndex }}</li>
                            </ul>
                        </li>
                    </ul>
                    <br />
                    <h1>Graph Info</h1>
                    <ul class="address">
                        <li>
                            <ul class="address-text">
                                <li style="width: 45%"><b style="color: #777">nodes</b></li>
                                <li id="node_num" style="color: #333;"></li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li style="width: 45%"><b style="color: #777">edges</b></li>
                                <li id="edge_num" style="color: #333;"></li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li ><a id="download" style="color: #333; cursor: pointer;">download</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-7 header-left" style="padding-left: 20px; padding-right: 20px; padding-top: 0px;">
                    <!--img src="data:image/png;base64,"-->
                    <br />
                    <svg id="mainsvg" style="background-color: #f7f7f7; border-width: 0px;" width="850" height="460" viewBox="0 0 0 0"></svg>
                </div>
                <div id="detailed-info" class="col-md-3 header-right" style="padding-left: 15px; padding-right: 15px; padding-top: 8px;">
                    <div id="selector" class="btn-group btn-group-toggle" style="width: 100%;" data-toggle="buttons">
                        <label class="btn btn-info" style="background-color: #00a78e; width: 50%; border-top-left-radius: 10px; border-bottom-left-radius: 10px; font-size: 18px;">
                            <input type="radio" name="selector" value="info" checked="checked"> Paper Info
                        </label>
                        <label class="btn btn-info" style="background-color: #00a78e; width: 50%; border-top-right-radius: 10px; border-bottom-right-radius: 10px; font-size: 18px;">
                            <input type="radio" name="selector" value="cite"> Relative Papers
                        </label>
                        <script>
                            $("input[type=radio][name=selector]").change(function () {
                                if (this.value == "info") {
                                    $("#edge-info").hide();
                                    $("#up-line").hide();
                                    $("#down-line").hide();
                                    $("#node-info").show();
                                }
                                else {
                                    $("#edge-info").hide();
                                    $("#node-info").hide();
                                    $("#up-line").show();
                                    $("#down-line").show();
                                }
                            });
                        </script>
                    </div>
                    <ul id="node-info" class="address">
                        <li>
                            <ul class="address-text">
                                <li style="width: 60%"><b style="color: #777">paperId</b></li>
                                <li id="paper-id" style="color: #333"></li>
                            </ul>
                            <ul class="address-text">
                                <li style="width: 60%"><b style="color: #777">paperName</b></li>
                                <li id="paper-name" style="color: #333"></li>
                            </ul>
                            <ul class="address-text">
                                <li style="width: 60%"><b style="color: #777">publicationDate</b></li>
                                <li id="publication-date" style="color: #333"></li>
                            </ul>
                            <ul class="address-text">
                                <li style="width: 60%"><b style="color: #777">citationCount</b></li>
                                <li id="citation-count" style="color: #333"></li>
                            </ul>
                            <ul class="address-text">
                                <li style="width: 60%"><b style="color: #777">abstract</b></li>
                                <li id="abstract" style="overflow: scroll; width: 100%; height: 170px; background-color: #f7f7f7; color: #333;"></li>
                            </ul>
                        </li>
                    </ul>
                    <ul id="up-line" class="address" style="margin-top: 5%;">
                        <div id="cited-papers" class="demo-tree demo-tree-box" style="width: 100%; height: 174px; overflow: scroll; background-color: #FFFFFF;"></div>
                    </ul>
                    <ul id="down-line" class="address" style="margin-top: 5%;">
                        <div id="citing-papers" class="demo-tree demo-tree-box" style="width: 100%; height: 174px; overflow: scroll; background-color: #FFFFFF;"></div>
                    </ul>
                    <div id="edge-info">
                        <h1>Relationship</h1>
                        <ul class="address" style="margin-top: 4%;">
                            <li>
                                <ul class="address-text">
                                    <li style="width: 60%"><b style="color: #777">citedPaper</b></li>
                                    <li id="source-paper" style="color: #333; height: 50px;"></li>
                                </ul>
                                <ul class="address-text">
                                    <li style="width: 60%"><b style="color: #777">citingPaper</b></li>
                                    <li id="target-paper" style="color: #333; height: 50px;"></li>
                                </ul>
                                <ul class="address-text">
                                    <li style="width: 60%"><b style="color: #777">citationContext</b></li>
                                    <li id="citation-context" style="overflow: scroll; width: 100%; height: 170px; background-color: #f7f7f7; color: #333;"></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="papers-shown" class="col-md-3" style="height: 480px; padding-left: 40px; overflow: scroll;">
                    <ul id="timeline" class="timeline"></ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var func = function(nodes, edges, label, polygon, viewBox, transform) {
            const zoom = d3.zoom()
            .scaleExtent([0.05, 10])
            .on("zoom", _ => g.attr("transform", d3.event.transform));

            const tip = d3.tip()
            .attr('class', 'd3-tip').html(function(d) { return d.name });

            const svg = d3.select('#mainsvg');
            svg.call(zoom);
            svg.call(tip);
            {#const width = +svg.attr('width');#}
            {#const height = +svg.attr('height');#}
            svg.attr('viewBox', viewBox);
            viewBox = viewBox.split(' ');
            var width = parseFloat(viewBox[2]);
            var height = parseFloat(viewBox[3]);
            {#const margin = {top:20,right:20,bottom:20,left:20};#}
            {#const innerWidth = width - margin.right - margin.left;#}
            {#const innerHeight = height - margin.top - margin.bottom;#}
            {##}
            {#const xScale = d3.scaleLinear()#}
            {#.domain([d3.min(nodes, d => d.cx), d3.max(nodes, d => d.cx)])#}
            {#.range([0, innerWidth]);#}
            {##}
            {#const yScale = d3.scaleLinear()#}
            {#.domain([d3.min(nodes, d => d.cy), d3.max(nodes, d => d.cy)])#}
            {#.range([0, innerHeight]);#}

            const g = svg.append('g')
            .attr('id', 'maingroup')
            .attr('transform', transform);

            const rect = g.selectAll('rect').data(nodes).enter().append('rect')
            .attr('x', d => d.cx - d.papers_count * 30)
            .attr('y', d => d.cy - 25)
            .attr('width', d => d.papers_count * 30)
            .attr('height', 50)
            .attr('fill', 'steelblue')
            .attr('name', d => d.papers_count);

            const ellipse = g.selectAll('ellipse').data(nodes).enter().append('ellipse')
            .attr('cx', d => d.cx)
            .attr('cy', d => d.cy)
            .attr('rx', d => d.rx)
            .attr('ry', d => d.ry)
            .attr('fill', 'white')
            .attr('stroke', d => d.stroke)
            .attr('stroke-width', d => d.width)
            .attr('stroke-dasharray', d => d.dasharray)
            .attr('id', d => d.id);

            const lines = g.selectAll('path').data(edges).enter().append('path')
            .attr('fill', 'none')
            .attr('stroke', 'black')
            .attr('stroke-width', 3)
            .attr('d', d => d.d)
            .attr('id', d => d.source + '->' + d.target);

            g.selectAll('polygon').data(polygon).enter().append('polygon')
            .attr('fill', 'black')
            .attr('stroke', 'black')
            .attr('points', d => d);

            g.selectAll('text').data(label).enter().append('text')
            .attr('x', d => d.x)
            .attr('y', d => d.y)
            .text(d => d.name)
            .attr('text-anchor', 'middle')
            .attr('font-family', 'Times New Roman,serif')
            .attr('font-size', 14);

            rect
            .on('mouseover', function (d) {
                d3.select(this).attr("fill", "lightsteelblue")
                .attr('cursor', 'pointer');
                tip.show(d);
            })
            .on('mouseout', function (d) {
                d3.selectAll('rect').attr('fill', 'steelblue');
                tip.hide(d);
            });

            ellipse
            .on('mouseover', function (d) {
                d3.select(this).attr('cursor', 'pointer');
                tip.show(d);
            })
            .on('click', function () {
                //先将其复原
                d3.selectAll('path').attr('stroke', 'black');
                d3.selectAll('ellipse').attr('fill', 'white');

                var id = d3.select(this).attr('id');    //当前节点id
                var sourceGroup = [];   //当前节点所有父节点存入sourceGroup
                //改变当前节点与其父节点间线的颜色为红色
                d3.selectAll('path')
                .attr('stroke', function (d) {
                    if (d.target == id) {
                        sourceGroup.push(d.source);
                        return 'red';
                    }
                    else {
                        return 'black';
                    }
                });
                //改变当前节点和父节点的填充色为蓝色
                d3.selectAll('ellipse')
                .attr('fill', function (d) {
                    var flag = 0;
                    for (var i = 0; i < sourceGroup.length; i++) {
                        if (sourceGroup[i] == d.id) {
                            flag = 1;
                            break;
                        }
                    }
                    if (flag || d.id == id) {
                        return 'lightsteelblue';
                    }
                    else {
                        return 'white';
                    }
                });

                $("#papers-shown").hide();
                $("#detailed-info").show();
                $("#edge-info").hide();
                $("#up-line").hide();
                $("#down-line").hide();
                $("#selector").show();
                $("#node-info").show();
                for (var i = 0; i < nodes.length; i++) {
                    if (nodes[i].id == id) {
                        $('#paper-id').text(nodes[i].id);
                        $('#paper-name').text(nodes[i].name);
                        $('#publication-date').text(nodes[i].year);
                        $('#citation-count').text(nodes[i].citation_count);
                        $('#abstract').text(nodes[i].abstract);
                    }
                }

                var vis = [];
                for (var i = 0; i < edges.length; i++) {
                    vis.push(0);
                }
                var citedTraversal = function (root) {
                    var self_dict = {};
                    self_dict["title"] = root;
                    self_dict["children"] = [];
                    var flag = 0;
                    for (var i = 0; i < edges.length; i++) {
                        if (root == edges[i]['target']) {
                            if (vis[i] == 1) {
                                continue;
                            }
                            vis[i] = 1;
                            flag = 1;
                            self_dict["children"].push(citedTraversal(edges[i]['source']));
                        }
                    }
                    if (flag == 0) {
                        delete self_dict["children"];
                    }
                    return self_dict;
                }
                var vis = [];
                for (var i = 0; i < edges.length; i++) {
                    vis.push(0);
                }
                var citingTraversal = function (root) {
                    var self_dict = {};
                    self_dict["title"] = root;
                    self_dict["children"] = [];
                    var flag = 0;
                    for (var i = 0; i < edges.length; i++) {
                        if (root == edges[i]['source']) {
                            if (vis[i] == 1) {
                                continue;
                            }
                            vis[i] = 1;
                            flag = 1;
                            self_dict["children"].push(citingTraversal(edges[i]['target']));
                        }
                    }
                    if (flag == 0) {
                        delete self_dict["children"];
                    }
                    return self_dict;
                }
                var cited_list = [];
                cited_list.push(citedTraversal(id));
                var citing_list = [];
                citing_list.push(citingTraversal(id));
                layui.use(['tree', 'util'], function(){
                    var tree = layui.tree,
                    layer = layui.layer,
                    data = cited_list
                    tree.render({
                        elem: '#cited-papers', //默认是点击节点可进行收缩
                        data: data
                    });
                });
                layui.use(['tree', 'util'], function(){
                    var tree = layui.tree,
                    layer = layui.layer,
                    data = citing_list
                    tree.render({
                        elem: '#citing-papers',
                        data: data,
                    });
                });
            })
            .on('mouseout', function (d) {
                tip.hide(d);
            });

            lines
            .on('mouseover', function () {
                d3.selectAll('path')
                .attr('stroke', 'black')
                .attr('stroke-width', 3);
                d3.select(this)
                .attr("stroke", "red")
                .attr("stroke-width", 5)
                .attr('cursor', 'pointer');
            })
            .on('click', function () {
                var id = d3.select(this).attr('id');
                var source = '', target = '';
                var flag = 0;
                //得到source_node的id
                for (var i = 0; i < id.length; i++) {
                    if (id[i] == '-' && id[i+1] == '>') {
                        flag = i;
                        break;
                    }
                    else {
                        source += id[i];
                    }
                }
                //得到target_node的id
                for (var i = flag + 2; i < id.length; i++) {
                    target += id[i];
                }

                //对source_node和target_node染色
                d3.selectAll('ellipse')
                .attr('fill', function (d) {
                    if (d.id == source || d.id == target) {
                        return 'lightsteelblue';
                    }
                    else {
                        return 'white';
                    }
                })
                .attr('cursor', 'pointer');

                $("#papers-shown").hide();
                $("#detailed-info").show();
                $("#selector").hide();
                $("#node-info").hide();
                $("#up-line").hide();
                $("#down-line").hide();
                $("#edge-info").show();
                for (var i = 0; i < nodes.length; i++) {
                    if (nodes[i].id == source) {
                        $('#source-paper').text(nodes[i].name);
                    }
                    if (nodes[i].id == target) {
                        $('#target-paper').text(nodes[i].name);
                    }
                }
                for (var i = 0; i < edges.length; i++) {
                    if (edges[i].source == source && edges[i].target == target) {
                        $('#citation-context').text(edges[i].citation_context);
                        break;
                    }
                }
            });
        }
    </script>
    <script type="text/javascript">
        $("#detailed-info").hide();
        var authorRank = {{ authorRank|safe }};
        var filename = '/src/json/' + String(authorRank) + '_1_0_0.json';
        d3.json(filename).then( data => {
            const paper_shown = data[4];
            for (var i = 0; i < paper_shown.length; i++) {
                var paper_id = String(paper_shown[i][0]);
                var paper_name = String(paper_shown[i][1]);
                var li = "<li><div class=\"timeline-badge info\"><i class=\"glyphicon glyphicon-briefcase\"></i></div><div class=\"timeline-panel\"><div class=\"timeline-heading\"><h4 class=\"timeline-title\">"+paper_id+"</h4></div><div class=\"timeline-body\"><p>"+paper_name+"</p></div></div></li>";
                $("#timeline").append(li);
            }
            const nodes = data[0];  //椭圆
            const edges = data[1];  //path
            const label = data[2];  //文本
            const polygon = data[3];  //箭头
            const params = data[5];
            var viewBox = params[0];
            const transform = params[1];
            const nodes_num = params[2];
            const edges_num = params[3];
            $('#node_num').text(nodes_num);
            $('#edge_num').text(edges_num);
            const isFellow = params[4];
            if (isFellow == 1) {
                $('#isFellow').text("Basic Info (Fellow)");
            }
            else {
                $('#isFellow').text("Basic Info");
            }
            func(nodes, edges, label, polygon, viewBox, transform);
        });
    </script>
    <!--ajax提交表单-->
    <script type="text/javascript">
        $(function() {
            function getCookie(name) {
                var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
                return r ? r[1] : undefined;
            }
            $("#mode, #range_node, #range_edge").change(function() {
                $.ajax({
                    headers: {"X-CSRFToken": getCookie("csrftoken")},
                    type: "POST",
                    dataType: "json",
                    url: "/update/",
                    data: $("#update_info").serialize(),
                    success: function (param) {
                        $('#mainsvg').empty();
                        d3.tip().destroy();
                        $("#abstract").empty();
                        $("#citation-context").empty();
                        $("#detailed-info").hide();
                        $("#timeline").empty();
                        var detail = param['detail'];
                        var filename = '/src/json/' + detail + '.json';
                        d3.json(filename).then( data => {
                            const nodes = data[0];
                            const edges = data[1];
                            const label = data[2];
                            const polygon = data[3];
                            const paper_shown = data[4];
                            for (var i = 0; i < paper_shown.length; i++) {
                                var paper_id = String(paper_shown[i][0]);
                                var paper_name = String(paper_shown[i][1]);
                                var li = "<li><div class=\"timeline-badge info\"><i class=\"glyphicon glyphicon-briefcase\"></i></div><div class=\"timeline-panel\"><div class=\"timeline-heading\"><h4 class=\"timeline-title\">"+paper_id+"</h4></div><div class=\"timeline-body\"><p>"+paper_name+"</p></div></div></li>";
                                $("#timeline").append(li);
                            }
                            $("#papers-shown").show();
                            const param = data[5];
                            var viewBox = param[0];
                            const transform = param[1];
                            const nodes_num = param[2];
                            const edges_num = param[3];
                            $('#node_num').text(nodes_num);
                            $('#edge_num').text(edges_num);
                            const isFellow = param[4];
                            if (isFellow == 1) {
                                $('#isFellow').text("Basic Info (Fellow)");
                            }
                            else {
                                $('#isFellow').text("Basic Info");
                            }
                            func(nodes, edges, label, polygon, viewBox, transform);
                        });
                    },
                });
            });
            $("#download").click(function () {
                $.ajax({
                    headers: {"X-CSRFToken": getCookie("csrftoken")},
                    type: "POST",
                    url: "/download/",
                    dataType: "json",
                    data: $("#update_info").serialize(),
                    success: function (param) {
                        var a = document.createElement('a');
                        a.download = param['detail'];
                        a.href = param['filename'];
                        var event = new MouseEvent('click');
                        a.dispatchEvent(event);
                    },
                });
            })
        });
    </script>

</body>
</html>
